.sm--counselor-query-block {
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .error-message {
        margin-top: 30%;
    }

    .counselor-loop {
        &__counselor-block {
            position: relative; // Needed to hoist anchor to wrap parent elements (see ::before below)
            flex-basis: 30%;

            .wp-block-group {
                padding-top:var(--wp--preset--spacing--x-small);
                padding-right:var(--wp--preset--spacing--x-small);
                padding-bottom:var(--wp--preset--spacing--x-small);
                padding-left:var(--wp--preset--spacing--x-small)
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }

            & img {
                transition: transform 0.5s ease-in-out;
            }

        }

        &__image {
            overflow: hidden;
        }

        &__name {
            margin-block-start: 0;

            h3 {
                margin: .5rem 0;
                font-size: var(--wp--preset--font-size--normal);
            }
        }

        &__title {
            margin-block-start: 0;

            a {
                color: var(--wp--preset--color--smokey);
                text-decoration: none;
                
                &:hover {
                    color: var(--wp--preset--color--river);
                    text-decoration: underline;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}

// Form Styling anything custom that doesn't use grid/utility classes
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    -webkit-appearance: none; /* Override Safari's default styles */
    -moz-appearance: none;
    appearance: none;
}

select {
    background-image: url('./assets/svg/rocky-top-carrot-01.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px 16px;

    &:hover {
        cursor: pointer;
    }
}

// Nested form elements that can't be given a unique class but needs to be stomped.
// If the field is empty, it still renders. Who coded that?! They should be perfect like me /joke
.sm--form-separator h3 {
    display: none !important;
    margin: 0 !important;
}
