/* Custom Block Styles */
/* 

    Note: chaining .wp-block-button with custom elements gives specificity for editor and rendered page
    Author: Second Mile

*/

/* Double Dropshadow Text (light and dark) */
.editor-styles-wrapper .wp-block-paragraph.is-style-text-shadow--double--light,
p.is-style-text-shadow--double--light {
	text-shadow: 2px 2px var(--wp--preset--color--sm-smokey-cool-2), 4px 4px var(--wp--preset--color--orange);
	color: var(--wp--preset--color--white);
    text-transform: uppercase;
    font-weight: var(--wp--custom--font-weight--black);
}

.editor-styles-wrapper .wp-block-paragraph.is-style-text-shadow--double,
p.is-style-text-shadow--double {
	text-shadow: 2px 2px var(--wp--preset--color--white), 4px 4px var(--wp--preset--color--orange);
    text-transform: uppercase;
    font-weight: var(--wp--custom--font-weight--black);
}
